<% provide(:title, 'About') %>
<h1>About SharedBlog</h1>

<h3>
  This app was created as assignment, requirements as following:
</h3>

<h6>
  Create a Rails application with the following features.
</h6>

<ul>
  <li>
    User can signs up.
  </li>

  <li>
  User can sign in.
  </li>

  <li>
  User can create Articles.
  </li>

  <li>
    User can list all Articles.
  </li>

  <li>
    User can read an Article.
  </li>

  <li>
    User can favorite/unfavorite Article.
  </li>

  <li>
    User can list all his favorite Articles.
  </li>

  <li>
    User can follow/unfollow other users.
  </li>

  <li>
    User can list his followings.
  </li>

  <li>
    User can list Articles from his followings.
  </li>

</ul>


 <strong>
   Note:
 </strong>

<p>
  Listing Articles should display owner, title, content and favorites count.
</p>