<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This is a sample help page, it won't help you in any ways :\
  <br>
  To get real help , see the
  <a href="http://guides.rubyonrails.org"><em>Ruby on Rails </em>
    Guide</a>.
</p>